/* ===== Configurações Globais ==== */

:root {
    --color-primary: #f00;
    --color-secondary: #0f0;
    --color-tertiary: #00f;

    --scroll-item-ammount: 10;

    --color-tertiary-light: rgb(102, 102, 229);
    --color-tertiary-faded: rgba(0, 0, 255, 0.502);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-tertiary-light);
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

::-webkit-scrollbar-track {
    margin-block: 5vh;
    margin-inline: 5vh;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Roboto", sans-serif;

    scroll-behavior: smooth;
}

a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;

    color: white;
}

html {
    scroll-snap-type: block mandatory;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    overflow-x: hidden;

    background: var(--color-tertiary);
}

/* ===== Loading Screen ==== */

.loader-wrapper {
    z-index: 5;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    background-color: var(--col-bg-01);
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid var(--col-bg-02);
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--col-bg-02);
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/* ===== Navbar Principal e Secundária ==== */

.nav-container {
    position: fixed;
    top: 0;

    z-index: 3;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 5vh;

    padding-inline: 5vh;

    background-color: var(--color-tertiary);
}

.nav-primary {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 5vh;
}

.nav-item-active::before {
    width: 100% !important;
    transition: width 0.3s !important;
    background-color: var(--color-tertiary-light) !important;
}

.nav-primary ul,
.nav-primary li,
.nav-primary a {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.nav-primary a,
.nav-secondary a {
    text-align: center;
    position: relative;
    margin-inline: 5vh;
}

.nav-primary a::before,
.nav-secondary a::before {
    content: "";
    display: block;

    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;

    width: 0;
    height: 6px;
    background: white;
    transform-origin: center;
    transition: width 0.3s;
}

.nav-primary a:hover::before,
.nav-primary a:focus::before,
.nav-secondary a:hover::before,
.nav-secondary a:focus::before {
    width: 100%;
    transition: width 0.3s;
}

.nav-secondary {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    justify-items: center;

    position: absolute;

    height: 90vh;
    width: 100%;

    top: 5vh;

    background-color: var(--color-tertiary);

    transition: transform 1s ease-in-out;
    transform: translateX(100vw);
}

.nav-secondary ul,
.nav-secondary li,
.nav-secondary a {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.nav-secondary ul {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    justify-items: center;

    width: 100%;
    height: 100%;
}

.nav-secondary a {
    width: 33%;
    height: 25%;
    font-size: 24px;
}

.nav-secondary-active {
    transform: translateX(0);
}

/* logo */

.logo-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 5vh;
    height: 5vh;
}

.logo-container > * {
    width: 80%;
    height: 80%;

    border-radius: 50%;
    background-color: white;
}

/* burger styling */

.burger-class {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;
    align-content: center;

    width: 5vh;
    height: 5vh;

    position: relative;

    cursor: pointer;
}

.burger-class > * {
    width: 3vh;
    height: 3px;
    border-radius: 2px;

    position: absolute;

    background-color: var(--color-tertiary-light);

    transition: transform 1s ease-in-out, opacity 0.8s ease-in-out,
        background-color 0.2s ease-in-out;
}

.burger-class :nth-child(1) {
    transform: translateY(-10px);
}

.burger-class :nth-child(2) {
    opacity: 1;
}

.burger-class :nth-child(3) {
    transform: translateY(10px);
}

.burger-class:hover > * {
    background-color: white;
}

.burger-active :nth-child(1) {
    transform: rotate(-45deg);
}

.burger-active :nth-child(2) {
    opacity: 0;
    transform: translateX(50px);
}

.burger-active :nth-child(3) {
    transform: rotate(45deg);
}

/* ===== Conteúdo ==== */

main {
    height: auto;
    width: 100%;
    margin-top: 5vh;
}

section {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    position: relative;

    width: 100%;
    height: 90vh;

    margin-bottom: 5vh;

    scroll-behavior: smooth;
    scroll-margin-block: 5vh;
    scroll-snap-align: center;

    overflow: hidden;
}

.side-faders::before,
.side-faders::after {
    content: "";
    display: block;

    position: absolute;

    width: 20vw;
    height: calc(100% + 2px);

    background-image: linear-gradient(
        90deg,
        var(--color-tertiary) 30%,
        var(--color-tertiary-faded) 60%,
        transparent 100%
    );

    pointer-events: none;
}

.side-faders::before {
    left: 0;
    top: 0;

    z-index: 2;
}

.side-faders::after {
    right: 0;
    top: 0;

    z-index: 2;

    transform: rotate(180deg);
}

.section-text {
    z-index: 2;
    position: absolute;
    top: 30vh;
    left: 5vw;
    text-align: left;

    width: 33vw;
}

.section-text h1 {
    font-size: 15vh;
    font-weight: 700;
    color: white;
}

.section-text h2 {
    font-size: 7vh;
    font-weight: 500;
    color: white;
}

/* ===== Seção 1 ==== */

.video-container {
    width: 1913px;
    height: 1000px;

    position: relative;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;

    overflow: auto;
    overflow-x: scroll;

    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
}

.video-overlay {
    z-index: 1;
    width: 100%;
    height: calc(
        90vh - 7px
    ); /* tamanho total da div - o tamanho da scrollbar */
    top: 0;
    position: absolute;
    background-color: white;
    filter: contrast(30%) opacity(30%);

    pointer-events: none;
}

.video-container video {
    flex-shrink: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    scroll-snap-align: start;
}

.header-text {
    z-index: 2;
    position: absolute;
    top: 20vh;
    left: 5vw;
    text-align: left;

    width: 33vw;
}

/* ==== Seção 2 ===== */

.product-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    position: relative;

    overflow-y: visible;
}

.product-buttons {
    z-index: 2;
    position: absolute;

    width: 18vw;
    height: auto;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    right: 25vw;
    bottom: 4vh;
}

.product-buttons button {
    width: 8vw;
    height: 3vh;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 1px solid white;

    color: white;

    background-color: transparent;

    cursor: pointer;
}

.product-buttons button:hover {
    background-color: white;
    color: var(--color-tertiary);
}

.product-buttons button:hover svg {
    fill: var(--color-tertiary);
}

.product-button-icon-1,
.product-button-icon-2 {
    height: 60%;
    fill: white;

    margin-inline: 3px;
}

.product-button-icon-1 {
    transform: translateY(1px) rotate(180deg);
}

.product-button-icon-2 {
    transform: translateY(1px);
}

.side-faders2::before,
.side-faders2::after {
    content: "";
    display: block;

    position: absolute;

    width: 5vw;
    height: 80%;

    background-image: linear-gradient(
        90deg,
        var(--color-tertiary) 60%,
        var(--color-tertiary-faded) 70%,
        transparent 100%
    );

    pointer-events: none;
}

.side-faders2::before {
    left: 49.5vw;

    z-index: 2;
}

.side-faders2::after {
    right: 18vw;

    z-index: 2;

    transform: rotate(180deg);
}

.product-container {
    position: absolute;
    right: 20vw;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    width: 28vw;
    height: 80%;

    padding: 2vw;

    overflow-y: visible;
    overflow-x: auto;

    scroll-snap-type: x mandatory;

    box-shadow: inset 0 5px 5px 5px var(--color-tertiary);

    perspective: 3500px;
}

.product-card {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    width: 25vw;
    height: 100%;

    margin-inline: 1vw;

    background-color: var(--color-tertiary-light);
    border-radius: 10px;

    scroll-snap-align: center;
    scroll-margin: 1vw;

    overflow: hidden;

    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;

    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.8);
}

.product-card-front,
.product-card-back {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: white;

    transform: rotateY(180deg);
}

.product-card img {
    width: auto;
    height: 90%;

    object-fit: cover;
}

.p-card-1 img {
    width: 100%;
    height: auto;

    object-fit: cover;
}

.product-info {
    position: absolute;
    top: 0.5vh;

    text-align: center;
    color: white;
}

.product-info h2 {
    font-size: 48px;
    font-weight: 700;
}

.product-info h3 {
    font-size: 24px;
    font-weight: 200;
}

.product-card button {
    position: absolute;
    bottom: 2vh;

    width: 50%;
    height: 5vh;

    border: 1px solid white;
    border-radius: 10px;

    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: 200;

    transition: background-color 0.2s ease-in-out;
}

.product-card button:hover,
.product-card button:focus {
    border: 1px solid white;
    border-radius: 10px;

    cursor: pointer;

    background-color: white;
    color: var(--color-tertiary);
    font-size: 24px;
    font-weight: 200;
}

.card-active {
    transform: rotateY(180deg);
}

/** ===== Seção 3 ===== */

.solution-text {
    top: 20vh;
    left: 5vw;
    text-align: left;

    width: 33vw;
}

.solution-text a {
    text-transform: capitalize;
}

.solution-text a:hover,
.solution-text a:focus {
    color: blueviolet;
}

.solution-text h2 {
    margin-block: 1vh;
    position: relative;
}

.solution-text a::before,
.solution-text a::after {
    content: "";
    display: block;

    position: absolute;
    bottom: -1vh;
    left: auto;
    right: auto;

    width: 0px;
    height: 6px;
    background: blueviolet;
    transform-origin: center;
    transition: width 0.3s;
}

.solution-text a:hover::before,
.solution-text a:focus::before {
    width: 300px;
    transition: width 0.3s;
}

.solution-active {
    color: blueviolet;
}

.solution-active::before {
    width: 300px !important;
    transition: width 0.3s !important;
}

/* ===== Seção 4 ===== */

.scroll-container {
    width: 100%;
    height: 30vh;

    position: absolute;

    display: flex;
    flex-direction: row;
}

.scroll1 {
    top: 10vh;

    animation: scroll_right 20s linear infinite;
}

.scroll2 {
    bottom: 10vh;

    animation: scroll_right 20s linear infinite reverse;
}

@keyframes scroll_right {
    0% {
        transform: translateX(
            calc(
                (-20vw * (var(--scroll-item-ammount))) +
                    (var(--scroll-item-ammount) * -4vw)
            )
        );
    }

    100% {
        transform: translateX(
            calc(
                (-20vw * (var(--scroll-item-ammount)) / 2) +
                    (var(--scroll-item-ammount) / 2 * -4vw)
            )
        );
    }
}

@keyframes scroll_left {
    0% {
    }

    100% {
    }
}

.scroll-item {
    width: 20vw;
    height: 30vh;

    margin-inline: 2vw;

    background-color: var(--color-tertiary-light);

    flex-shrink: 0;
    border-radius: 10px;
}

.experience-text {
    top: 26vh;
    left: 5vw;
    text-align: left;

    width: 40vw;
}

/* ===== Seção 5 ===== */

.contact-text {
    top: 20vh;
    left: 5vw;
    text-align: left;

    width: 50vw;
}

.form-container {
    position: absolute;
    right: 10vw;

    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    height: 50%;
    width: 30vw;
}

form {
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

form > * {
    width: 100%;
    height: 100%;

    background-color: transparent;
    color: white;
    border: 1px solid white;

    padding: 10px;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

.first-input {
    border-radius: 10px 10px 0 0;
}

form button {
    border-radius: 0 0 10px 10px;
    color: var(--color-tertiary);
    background-color: white;
    font-weight: 700;

    transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

form button:hover,
form button:focus {
    cursor: pointer;
    transform: scale(105%);
    border-radius: 10px 10px 10px 10px;
}

form select {
    color: white;
    opacity: 0.5;
}

form select :first-child {
    color: white;
    opacity: 0.5;
}

form option {
    color: var(--color-tertiary);
    opacity: 0.5;
    background-color: white;
    font-size: 14px;
}

/* ===== Rodapé ===== */

footer {
    z-index: 3;
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    padding-inline: 5vh;

    width: 100%;
    height: 5vh;

    background-color: var(--color-tertiary);
}

.social-media-icons {
    display: flex;
    flex-direction: row;

    width: auto;
    height: 100%;

    align-items: center;
    align-content: center;
}

.social-media-icons a {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 3.5vh;
    height: 3.5vh;

    margin-inline: 1vh;

    border-radius: 50%;
    background-color: white;
}

.social-media-icons a:hover,
.social-media-icons a:focus {
    background-color: var(--color-tertiary);
    border: 1px solid white;
}

.social-media-icons a:hover svg,
.social-media-icons a:focus svg {
    fill: white;
}

.social-media-icons svg {
    width: auto;
    height: 50%;

    fill: var(--color-tertiary);
}

.direitos-reservados {
    margin-inline: 10vw;
    color: white;
}

/* ===== Media Queries ==== */

@media screen and (max-width: 1000px) {
    .nav-container {
        justify-content: space-between;
    }

    .side-faders2::before,
    .side-faders2::after {
        content: "";
        display: block;

        position: absolute;

        width: 5vw;
        height: 80%;
        top: 20vh;

        background-image: linear-gradient(
            90deg,
            var(--color-tertiary) 60%,
            var(--color-tertiary-faded) 70%,
            transparent 100%
        );

        pointer-events: none;
    }

    .side-faders2::before {
        left: 6vw;

        z-index: 2;
    }

    .side-faders2::after {
        right: 6vw;

        z-index: 2;

        transform: rotate(180deg);
    }

    .section-text {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        width: 80vw;
    }

    .product-text {
        top: 10vh;
    }

    .contact-text {
        top: 10vh;
    }

    .product-container {
        width: 80vw;
        top: 20vh;
        right: auto;
        left: auto;
    }

    .product-card {
        width: 80vw;
    }

    .product-buttons {
        z-index: 3;
        width: 95vw;
        right: auto;
        left: auto;
        bottom: 2.5vh;
    }

    .product-buttons button {
        width: 20vw;
        height: 3vh;
    }

    .section-text h1 {
        font-size: 5vh;
        font-weight: 700;
        color: white;
    }

    .section-text h2 {
        font-size: 3vh;
        font-weight: 700;
        color: white;
    }

    .nav-primary {
        display: none;
    }

    .video-container {
        width: 100%;
        height: 100%;

        position: relative;

        overflow: hidden;
    }

    .video-overlay {
        z-index: 1;
        width: 100%;
        height: 90vh;
        top: 0;
        position: absolute;
        background-color: white;
        filter: contrast(30%) opacity(30%);
    }

    .video-container video {
        width: auto;
        height: 100%;

        object-fit: cover;
    }

    .scroll1 {
        top: 5vh;
    }

    .scroll2 {
        bottom: 5vh;
    }

    .scroll-item {
        width: 40vw;
        height: 30vh;

        margin-inline: 2vw;

        background-color: var(--color-tertiary-light);

        flex-shrink: 0;
        border-radius: 10px;
    }

    @keyframes scroll_right {
        0% {
            transform: translateX(
                calc(
                    (-40vw * (var(--scroll-item-ammount))) +
                        (var(--scroll-item-ammount) * -4vw)
                )
            );
        }

        100% {
            transform: translateX(
                calc(
                    (-40vw * (var(--scroll-item-ammount)) / 2) +
                        (var(--scroll-item-ammount) / 2 * -4vw)
                )
            );
        }
    }

    .form-container {
        width: 80vw;
        height: 70%;

        top: 22.5vh;
    }

    footer {
        display: none;
    }
}

/* ===== Classes Operacionais ==== */
